<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Olimpiadas2023</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Pacientes">
                <span class="oi oi-plus" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/PacienteAgregar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cargar Paciente
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/AgregarEmpleado">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Empleado
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <Menu>
                <SubMenu TitleTemplate=@sub1Title>
                    <MenuItem Key="1">
                        <a href="/habitaciones">Habitaciones</a>
                    </MenuItem>
                    <MenuItem Key="2">
                        <a href="/areas">Areas</a>
                    </MenuItem>
                </SubMenu>
            </Menu>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    RenderFragment sub1Title =
    @<span>
        <Icon Type="mail" Theme="outline"></Icon>
        <span>Herramientas</span>
    </span>;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
