@page "/"
@layout EmptyLayout
<PageTitle>Inicio</PageTitle>

<style>
    *{
        --letras00: #bfbfbf;
        --letras01: #1f1f1f;
    }
    @@media screen and (max-width: 767px){
        .contenedor{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            gap: 1em;
            justify-content: center;
        }
    }
    h1{
        font-size: 3em;
        font-weight: 750;
        color: blue;
    }
    input[type="text"], input[type="password"]{
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--letras00);
    }

    .active-input input, .active-input i {
        color: var(--letras01);
        border-color: var(--letras01);
    }
    .form-contenedor div{
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px 0;
        height: 4em;
    }
    img{
        width: 100%;
    }

    .form-contenedor div:nth-child(3){
        justify-content: flex-end;
    }
    .form-contenedor div:nth-child(3) a, .form-contenedor div:nth-child(3) a:visited
    .form-contenedor div:last-child .form-contenedor div:last-child a:visited {
        color: blue;
        text-decoration: none;
    }

    .btnSubmit {
        width: 100%;
        height: 45px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        border-radius: 25px;
        background: blue;
    }

    .form-contenedor div:last-child{
        flex-direction: row;
        justify-content: center;    
    }

    .form-contenedor div:last-child p{
        color: var(--letras00);
    }

    .form-contenedor div:nth-child(2) {
        position: relative;
    }
    .mostrar-contraseña {
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        right: 10px;
        font-size: .9em;
    }

    .input-contraseña{
        padding-right: 30px;
    }

    i{
        color: var(--letras00);
    }
</style>

<div class="contenedor">
    <div>
        <img src="/medicos.png" />
    </div>
    <div>
        <h1>Iniciar sesion</h1>
    </div>
    <div class="form-contenedor">
        <div class="@usernameInputClass">
            <i class="fa-solid fa-user"></i>
            <input placeholder="Nombre de usuario" type="text" @bind="username" @bind:event="oninput" @onfocus="ActivateUsernameInput" @onblur="DeactivateUsernameInput" />
        </div>
        <div class="@passwordInputClass">
            <i class="fa-solid fa-lock"></i>
            <input class="input-contraseña" @bind="password" @bind:event="oninput" placeholder="Contraseña" type="@passwordInputType" @onfocus="ActivatePasswordInput" @onblur="DeactivatePasswordInput" />
            <button class="mostrar-contraseña " @onclick="TogglePasswordVisibility">
                <i class="@passwordToggleIcon"></i>
            </button>
        </div>
        <div>   
            <a href="/">¿Olvidaste tu contraseña?</a>
        </div>
        <div>
            <Button Class="btnSubmit" Type="submit">Iniciar</Button>
        </div>
        <div>
            <p>
                ¿Eres nuevo? 
                <a href="/register" style="color: blue;">Registrate</a>
            </p>
        </div>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string passwordInputType = "password";
    private string passwordToggleIcon = "fa-solid fa-eye";
    private string usernameInputClass = "";
    private string passwordInputClass = "";

    private void ActivateUsernameInput()
    {
        usernameInputClass = "active-input";
    }

    private void DeactivateUsernameInput()
    {
        if (string.IsNullOrEmpty(username))
        {
            usernameInputClass = "";
        }
    }

    private void ActivatePasswordInput()
    {
        passwordInputClass = "active-input";
    }

    private void DeactivatePasswordInput()
    {
        if (string.IsNullOrEmpty(password))
        {
            passwordInputClass = "";
        }
    }

    private void TogglePasswordVisibility()
    {
        if (passwordInputType == "password")
        {
            passwordInputType = "text";
            passwordToggleIcon = "fa-solid fa-eye-slash";
            ActivatePasswordInput();
        }
        else
        {
            passwordInputType = "password";
            passwordToggleIcon = "fa-solid fa-eye";
            DeactivatePasswordInput();
        }
    }
}